.btn-primary {
  background-color: #76b88f; }
  .btn-primary:hover {
    background-color: #65a17c; }
  .btn-primary:disabled {
    background-color: #76b88f; }

.form-button {
  margin-right: 5px;
  position: relative; }

.score-btn {
  margin-right: 5px;
  font-size: $small-font; }

.button-bar {
  white-space: nowrap; }

.action-item {
  margin-bottom: 15px; }
