.segment-list{
  list-style-type: none;
  border-left: 1px solid #f4f4f4;
}

.bullet{
  padding: 5px;
}

.bullet:hover{
  background-color: #f4f4f4;
}

.margin-left-btn{
  margin-left: 10px;
}

.dropdown-item-icon{
  width: 25px;
  display: inline-block;
}

.node-toolbar-btn{
  margin-right: 3px;
  display: inline;
  padding: 10px 4px;
  color: #ababab;
  font-size: 15px;

  &:hover{
    color: #ababab;
  }
}

.actions-container{
  padding: 10px 0;
}

.collapsed{
  display: none;
}
