$button-margin-left: 5px;

$primary-button: #89AF94;
$primary-button-darker: #65a17c;

$secondary-button: #252525;

$header-footer: #000000;
$header-footer-font-color: #dedede;

$light-button: #ff8243;

$light-font-color: #777777;

$small-font: 0.8em;
