@charset "UTF-8";
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

a {
  color: #41638C; }
  a:hover {
    color: #6993C8;
    text-decoration: none; }

.btn {
  border: 0;
  border-radius: 0; }

input, textarea, .form-control, .modal-content {
  border-radius: 0; }

.btn-secondary {
  background-color: #252525; }
  .btn-secondary:hover {
    background-color: #ff8243; }

.btn-active {
  background-color: #ff8243 !important; }

.marked-score {
  background-color: #ff8243; }

.marked-score:disabled {
  background-color: #ff8243; }
