.segment-list {
  list-style-type: none;
  border-left: 1px solid #f4f4f4; }

.bullet {
  padding: 5px; }

.bullet:hover {
  background-color: #f4f4f4; }

.margin-left-btn {
  margin-left: 5px; }

.node-toolbar-btn {
  margin-right: 5px;
  display: inline;
  padding: 10px 15px;
  color: #ababab; }
  .node-toolbar-btn:hover {
    color: #ababab; }

.actions-container {
  padding: 10px 0; }

.collapsed {
  display: none; }
